.home-section1 {
    background-color: #FAD0DE;
    padding: 125px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.home-section1-right {
    width: 40%;
    text-align: right;
}

.homesection2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    max-width: 100%;
    height: auto;
}

.home-section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 150px 200px;
}

.home-section3-left {
    width: 40%;
    text-align: left;
}

.homesection3 {
    width: 40%;
}

/* RESPONSIVENESS */
@media (max-width: 1024px) {
    .home-section1 {
        padding: 80px 50px;
    }
}

@media (max-width: 768px) {
    .home-section1 {
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 50px;
        gap: 40px;
    }

    .home-section1-right {
        width: 100%;
        text-align: left;
    }

    .homesection2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
        max-width: 80%;
        height: auto;
    }

    .home-section3 {
        flex-direction: column;
        padding: 100px 50px;
    }

    .home-section3-left {
        width: 100%;
        text-align: left;
    }

    .homesection3 {
        width: 100%;
        max-width: 250px;
        margin-top: 50px;
    }
}