.home-section1 {
    background-color: #FAD0DE;
    padding: 160px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.home-section1-right {
    width: 40%;
    text-align: right;
}

.home-section2 {
    padding: 20px 200px;
}

.homesection2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.home-section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 125px 200px;
}

.home-section3-left {
    width: 40%;
    text-align: left;
}

.homesection3 {
    width: 40%;
}

.home-section4 {
    text-align: center;
    padding: 125px 200px;
}

.home-section4-books {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 150px;
}

.home-section4-books a {
    transition: transform 0.3s ease;
}

.home-section4-books a:hover {
    transform: scale(1.05);
}

.home-section6 {
    text-align: center;
    padding: 125px 200px;
}

.home-section6-likes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 150px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

/* RESPONSIVENESS */
@media (max-width: 1024px) {
    .home-section1 {
        padding: 80px 50px;
    }
}

@media (max-width: 768px) {
    .home-section1 {
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 50px;
        gap: 40px;
    }

    .home-section1-right {
        width: 100%;
        text-align: left;
    }

    .home-section2 {
        padding: 0px;
    }

    .homesection2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
        max-width: 80%;
        height: auto;
    }

    .home-section3 {
        flex-direction: column;
        padding: 100px 50px;
    }

    .home-section3-left {
        width: 100%;
        text-align: left;
    }

    .homesection3 {
        width: 100%;
        max-width: 250px;
        margin-top: 50px;
    }

    .home-section4 {
        padding: 25px 0px;
    }

    .home-section4-books {
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
    }

    .homesection4 {
        width: 80%;
        max-width: 150px;
    }

    .home-section6 {
        text-align: center;
        padding: 50px 0px;
    }

    .home-section6-likes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 40px;
        margin-top: 30px;
        padding: 0 20px;
        justify-items: center;
    }

    .home-section6-likes img,
    .home-section6-likes .like-item {
        width: 100%;
        max-width: 120px;
        height: auto;
    }

    .footer {
        flex-direction: column;
        gap: 0;
        padding: 20px 0px;
    }

    .footer p {
        margin-top: -8px;
    }
}