.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: #121212;
    font-weight: 400;
    transition: color 0.3s ease-in;
}

.navbar-links li a:hover {
    color: #555;
}

.navbar-links li a.active {
    font-weight: 600;
    text-decoration: underline;
    color: #121212;
}